* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(73, 69, 69);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.App {
  height: auto;
  text-align: center;
}

.search-container {
  display: flex;
  justify-content: center;
}

.search {
  width: 30%;
  margin-top: 3%;
  height: 20px;
  outline: none;
  padding: 7px;
  color: black;
  font-size: 18px;
  border-radius: 25px;
  border: none;
}
